:root {
    --primary: rgb(178, 173, 173);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.abt-btns {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
    padding: 12px 26px;
    font-size: 20px;
    width: 200px;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background: transparent;
    color: #ffff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover, .abt-btns:hover {
    background: rgb(255, 255, 255);
    color: greenyellow;
    transition: all 0.3s ease-out;
}