.main-div {
    background: skyblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

h1 {
    font-size: 50px;
}
.profile-page{
    display: flex;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 30px 0;
    /* justify-content: space-around; */
    border-bottom: "1px solid grey";
}

.my-container{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    color: #080808;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;}

img {
    width: 160px;
    height: 200px;
    border-radius: 80px;
    margin-left: 10px;
}

hr {
    width: 100%;
}

.log-out-btn{
    background: linear-gradient( to right, #14163c, #03217b 79%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 25%;
    height: 3rem;
    border: none;
    color: whitesmoke;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-div{
    display: flex;
    flex-direction: flex-end;
    justify-content: baseline;
    margin-top: 30px;
}

h4, .my-container{
    color: aliceblue;
}